.plusb {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.3em 9px;
    width: 10px;
    background: rgba(0, 0, 0, 0.8);
    text-decoration: none !important;
    color: #fff;
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}

.signature {
    position: relative;
    width: 540;
}

.signature:hover .plusb {
    opacity: 1.0
}