blockquote:after {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 500px;
    margin: 0.25em 0;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
    left: 17px;
    color: #383838;
    content: "Do not spoil what you have by desiring what you have not.";
}

blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -7px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite:after {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
    content: "Epicurus";
}

blockquote cite:before {
    content: "\2014 \2009";
}